extends ../layout 

block content 
    .row 
        .col-sm-8
            h1=title 
        .col-sm-4
            a(href="/products/add", class = "btn btn-success float-right ") Add new Match 
    
    table.table
        thead 
            tr
                th Team A
                th Team B  
                th Date
                th City 
        tbody 
                each product in products
                    tr
                        td=product.teamA 
                        td=product.teamB
                        td=product.date 
                        td=product.city
                        td
                            a(href="/products/delete/"+product._id, class="btn btn-danger") Delete
                            //a(href="/products/edit/"+product._id, class="btn btn-warning") Edit
                            //a(href="/products/cart/"+product._id, class="btn btn-info") Add To Cart
                            
